<!--
  <li>
    <a href="http://www.wisewheels.us" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<li>
    <a href="http://www.wisewheels.us" itemprop="sameAs">
      <i class="fa fa-fw fa-biking" aria-hidden="true"></i> WiseWheels
    </a>
</li>

<!-- <li>
    <a href="http://covid-19.scientifichpc.com/" itemprop="sameAs">
      <i class="fa fa-fw fa-biohazard" aria-hidden="true"></i> Covid-19
    </a>
</li> -->

<li>
    <a href="https://scholar.google.com/citations?user=MJE6RkMAAAAJ&hl=en" itemprop="sameAs">
      <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar
    </a>
</li>